*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 234, 236);
}

.cabecalho{
    background-color: rgb(41, 31, 151);
    width: 100%;
}

.limita-secao{
    max-width: 100%;
    margin: 0 20%;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    line-height: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/*----------cabecalho----------*/
.limita-secao-topo{
    max-width: 100%;
    height: 70px;
    margin: 0 20%;
}

.container-cabecalho{
    max-width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-cabecalho img{
    width: 40px;
    height: auto;
}

.logo-cabecalho h1{
    color: #fff;
    font-size: 20px;
}

.navegacao{
    max-width: 100%;
}

.navegacao ul{
    max-width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.navegacao a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navegacao a:hover{
    color: rgb(8, 190, 241);
}

/*----------container-formulario----------*/
.container-formulario{
    max-width: 100%;  
}

.img-banner{
    width: 100%;
    height: 100vh;
    background-image: url("img/bahia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    background-color: rgba(17, 53, 199, 0.465);
    width: 100%;
    margin: 0 20%;
}

.formulario label{
    color: #fff;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.formulario input, select{
    padding: 5px;
}

.cabecalho-formulario img{
    width: 20px;
    transform: rotate(-30deg);
}

.cabecalho-formulario{
    background-color: rgb(41, 31, 151);
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cabecalho-formulario p{
    color: #fff;
    font-weight: 500;
    padding: 5px 0;
}

.formulario h2{
    color: #fff;
    padding: 20px 20px;
    font-size: 20px;
}

.dados-form{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.container-form{
    width: 100%;
    padding: 5px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-form{
    width: 49%;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio{
    max-width: 100%;
    padding: 5px 20px;

    display: flex;
    flex-direction: column;
}

.radio label{
    padding-right: 70px;
}

.container-checkbox{
    width: 100%;
    padding: 5px 20px;
}

.checkbox-itens{
    max-width: 100%;
    padding: 5px 0px;

    display: flex;
}

.checkbox-itens label{
    padding-right: 20px;
}

.container-button{
    width: 100%;
    padding: 5px 20px;
}

.button{
    max-width: 100%;
    padding: 5px 10px;
    background-color: rgb(41, 31, 151);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff;
}

.button:hover{
    background-color: #fff;
    color: rgb(41, 31, 151);
    font-weight: 700;
}

/*----------container-ofertas----------*/
.container-ofertas{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.limita-secao-ofertas{
    width: 100%;
    height: 350px;
    margin: 0 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-uma-img{
    position: relative;

    width: calc(50% - 10px);
    height: 100%;
}

.container-quatro-img figure{
    position: relative;
    
    width: calc(50% - 10px);
    height: calc(50% - 10px);

    display: flex;
    flex-wrap: wrap;
}

.container-quatro-img{
    width: calc(50% - 10px);
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-uma-img img, .container-quatro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-uma-img figcaption, .container-quatro-img figcaption{
    position: absolute;
    left: 0px;
    bottom: 0px;
    
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(17, 53, 199, 0.465);
    padding: 5px 10px;
}


/*----------secao-img-anuncios----------*/
.container-img-anuncios{
    width: 100%;
}

.limita-secao-anuncios{
    max-width: 100%;
    margin: 0 20%;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-anuncios{
    background-color: #fff;
    width: 100%;
}

.img-anuncios img{
    width: 100%;
    object-fit: cover;
}

.texto-anuncios{
    padding: 10px;
    line-height: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/*----------secao-footer----------*/
.secao-footer{
    width: 100%;
    background-color: rgb(41, 31, 151);
    margin-top: 30px;
}

.limita-secao-footer{
    max-width: 100%;
    margin: 0 20%;
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer h4{
    color: #fff;
}

.img-footer span{
    color: #fff;
    font-size: 12px;
}

.img-footer{
    padding: 10px 0;

    display: flex;
    align-items: center;
    gap: 10px;
}

.img-footer img{
    width: 20px;
}

.link-footer{
    background-color: rgba(17, 53, 199, 0.267);
    text-align: center;
    padding: 20px 0;
}

.link-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

/*----------Media Querie----------*/
@media screen and (max-width: 930px) {

    .button{
        width: 100%;
    }

    .limita-secao-ofertas{
        width: 100%;
        height: 100%;

        flex-direction: column;
    }

    .container-uma-img{
        width: 100%;
        height: 100%;

        margin-bottom: 20px;
    }

    .container-quatro-img{
        width: 100%;
    }

    .container-uma-img, .container-quatro-img figure{
        width: 100%;
        height: 300px;
    }

    .limita-secao-anuncios{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 740px) {

    .navegacao{
        display: none;
    }

    .limita-secao-topo{
        margin: 0 5%;
    }

    .logo-cabecalho{
        width: 100%;
        align-items: center;
    }

    .img-banner{
        height: auto;
    }

    .formulario{
        margin: 5%;  
    }

    .container-form{
        display: block;
    }

    .data-form{
        width: 100%;
    }

    .formulario label{
        font-size: 12px;
        font-weight: 700;
    }

    .checkbox-itens{
        flex-direction: column;
    }

    .limita-secao, .limita-secao-ofertas, .limita-secao-anuncios{
        margin: 0 5%;
    }

    .limita-secao-footer{
        margin: 0 5%;
    }

    .container-footer h4{
        font-size: 12px;
    }

    .img-footer img{
        width: 15px;
    }

    .img-footer span{
        font-size: 10px;
    }
}

@media screen and (max-width: 340px) {

    .limita-secao-topo{
        margin: 0 5px;
    }

    .logo-cabecalho h1{
        font-size: 15px;
    }

    .radio label{
        padding-right: 10px;
    }

    .limita-secao-footer{
        flex-direction: column;
        align-items: start;
        margin-left: 10%;
    }

    .container-footer-responsivo{
        margin-top: 30px;
    }
}

   



